/*
Skin Name: Yellow
Version: 1.0
Description: Skin for Parallax
*/

/* links */
a,
.post-nav .arrow,
.widget a {
	color: #d1d101;
}

/* buttons */
input[type=reset],
input[type=submit],
button,
.pagenav .current,
#load-more a {
	background-color: #d1d101;
	border-color: #b8b802;
	color: #333;
	text-shadow: 0 -1px 0 rgba(255,255,255,.5);
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover,
.pagenav a:hover,
#load-more a:hover {
	background-color: #ebeb02;
	color: #000;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=url]:focus {
	border-color: #d1d101;
}

/* headerwrap, nav-bar and footerwrap */
#headerwrap,
#nav-bar,
#nav-bar.fixed-nav-bar,
#footerwrap {
	background-color: #d1d101;
}
#main-nav ul {
	background-color: #fff;
}
#nav-bar {
	background-color: rgba(210,210,0,.7);
}

/* main navigation */
#main-nav a,
#main-nav ul a {
	color: #000;
}
#main-nav a:hover,
#main-nav li:hover > a,
#main-nav .current_page_item a,
#main-nav .current-menu-item a,
#main-nav .current_page_item a:hover,
#main-nav .current-menu-item a:hover {
	color: #666;
}

#main-nav ul:before,
.home .fixed-nav-bar #main-nav ul:before {
	border-bottom-color: rgba(0,0,0,0.5);
}
#main-nav ul ul:before,
.home #main-nav ul ul:before,
.home .fixed-nav-bar #main-nav ul ul:before {
	border-right-color: rgba(0,0,0,0.5);
}
.home #main-nav ul:before {
	border-top-color: rgba(0,0,0,0.5);
}

/* back-top and footer widget list border */
.back-top,
#footer .widget li {
	border-color: #b2b201;
}

/* footer */
#footer {
	color: #444;
}
.back-top a:before,
#footer a {
	color: #454545;
}
#footer a:hover {
	color: #666;
}

@media screen and (max-width:1000px) {
	#mobile-menu {
		background-color: #d1d101;
	}
}
